.container {
  font-size: 1.2rem;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.25rem;
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: 1px 0 1px #43454be8;
  cursor: pointer;

  svg {
    color: #4f586d;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    width: 24px;
    height: 20px;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.darkScheme {
  background-color: #023060;
  
  svg {
    color: #fff;
  }
}

.checkbox {
display: none;
}

.toggle {
  position: absolute;
  background-color: inherit;
  filter: saturate(200%);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px black;
  transition: transform 0.3s;
}

.checkbox:checked ~ .toggle {
  transform: translateX(24px);
}

