$themes: (
  light: (
    color-background: #fff,
    color-text: #4f586d,
    color-scheme: light
  ),
  dark: (
    color-background: #023060,
    color-text: #fff,
    color-scheme: dark
  ),
);

@mixin theme($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
    }
  }
}

html,
body,
div,
p,
nav,
header,
main,
ul,
li,
input,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  @include theme("background-color", "color-background");
  @include theme("color", "color-text");
  @include theme("color-scheme", "color-scheme");
  font-family: "Open Sans", sans-serif;
  transition: color, background 0.3s ease-in-out;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  @include theme("color", "color-text");
}

a {
  font-family: "Open Sans", sans-serif;
}

.full-container {
  max-width: 72.5rem;
  margin: 0 auto;
}
